/*
MY COLOR PALETTE
Color 1 - #E6E8E6
Color 2 - #CED0CE
Color 3 - #9FB8AD
Color 4 - #475841
Color 5 - #000000
*/

body {
    background: #e6e8e6;
    text-align: center;
}

.contact-button {
    padding: 10px;
    margin: 50px;
    border: none;
    border-radius: 8px;
    width: 200px;
    background-color: #475841;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-size: medium;
    font-weight: 400;
    font-style: normal;
}

.contact-button:hover {
    background-color: #9fb8ad;
}

h1 {
    margin: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}
